*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}
#topOfPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    background-color: lightblue;
    color: white;
    margin: 9px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(102, 102, 102);
}
.options{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    transition: 0.6s;
}
.options:hover{
    color: rgb(80, 100, 110);
}
#title{
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 30px;
}
#logInSection{
    display: flex;
    /* background-color: wheat; */
    justify-content: center;
    padding: 10px;
    margin: 40px;
}
#logInHeader{
    text-align: center;
    padding: 30px;
}
#inputSection{
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 12px;
    width: 30%;
}
#inputSection > label > .input{
    width: 100%;
}
.input{
    margin: 15px;
    border: none;
    text-shadow: 1px 1px lightblue;
    border-bottom: 2px solid rgb(217, 217, 217);
}
.input:focus{
    outline: none;
}
.input:focus::placeholder{
    transition: 0.3s;
    color: transparent;
    text-shadow: none;
}

.logInButtons{
    color: white;
    padding: 6px;
    margin: 12px;
    border-radius: 6px;
    background-color: lightblue;
    border: 2px solid lightgray;
    transition: 0.6s;
}
.logInButtons:hover{
    background-color: white;
    color: lightblue;
}
#profileContainer{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
#profileTitle{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.msgBlock{
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
}
.postMsg{
    color: rgb(115, 147, 157);
}
.msgUsername{
    color: rgb(0, 0, 157);
}
#itemDes{
display: flex;
text-rendering: geometricPrecision;
justify-content: flex-end;
color: rgb(115, 147, 157);
}
#postHeading{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#postContainer{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
#postsTitle{
    font-size: 30px;
    padding: 12px;
}
#postsSearch{
    background-color: aliceblue;
    border: none;
    border-bottom: 2px solid lightblue;
    width: 30%;
    padding: 6px;
    margin: 15px;
}
#postsSearch:focus{
    outline: none;
}
#postButton{
    background-color: aliceblue;
    border: none;
    color: rgb(43, 43, 136);
    transition: 0.4s;
}
#postButton:hover{
color: rgb(91, 91, 255);
}
#addNewPostSection{
    padding: 25px;
    margin: 12px;
    display: grid;
    justify-content: center;
    flex-direction: column;
}
#addNewPostInputSection{
    padding: 10px;
    margin: 12px;
   display: flex;
   flex-direction: column;
   width: 8=70%;
}
.addNewPostInput{
 background-color: aliceblue;
 margin: 12px;
 border: none;
 border-bottom: 1px solid black;
}
.addNewPostInput:focus{
    outline: none;
}
#addNewPostCreateButton{
    color: white;
    padding: 6px;
    margin: 12px;
    border-radius: 6px;
    background-color: lightblue;
    border: 2px solid lightgray;
    transition: 0.6s;
}
#addNewPostCreateButton:hover{
    background-color: white;
    color: lightblue;
}